<div class="col-md-12" *ngIf="match">
	<div class="row">
		<div class="col">
			<team-detail [team]="match.team1"></team-detail>
			<button class="btn btn-block mt-2" [ngClass]=" teamVote==1 ? 'btn-success' : 'btn-primary'" (click)="clicker(1)">Team 1 Won</button>
		</div>
		<div class="col">
			<team-detail [team]="match.team2"></team-detail>
			<button class="btn btn-primary btn-block mt-2" [ngClass]=" teamVote==2 ? 'btn-success' : 'btn-primary'" (click)="clicker(1)" (click)="clicker(2)">Team 2 Won</button>
		</div>
	</div>
</div>
